.chart {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  
  .chart-bars {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .chart-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
  }
  
  .bar {
    background-color: #3f577f;
    width: 100%;
    transition: height 0.2s ease;
    cursor: pointer;
  }
  
  .bar-label {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
  
  .bar-type {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
  }
  